

 <div >
  <mat-card style="display: flex; flex-direction:row; margin:20px;width:32vw">
    <mat-card-content style="width: 34%;
    background: rgb(0,255,231);
background: linear-gradient(70deg, rgba(0,255,231,1) 35%, rgba(162,169,255,1) 89%);">

        <mat-card-title>
          First Title
          <mat-divider  ></mat-divider>
        </mat-card-title>
        <mat-card-subtitle>
          First title subtitle
          <mat-divider  ></mat-divider>
        </mat-card-subtitle>

      <mat-card-actions [align]="'end'">
        <mat-icon style="color:blue;">person_add</mat-icon>
      </mat-card-actions>
    </mat-card-content>
    <mat-card-content style="width: 66%;">
      <mat-card-header>
        <mat-card-title>
          Title
          <mat-divider  ></mat-divider>
        </mat-card-title>
        <mat-card-subtitle>
          subtitle
          <mat-divider  ></mat-divider>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions [align]="'end'" >
        <mat-icon style="color:rgb(245, 0, 172);margin:2px;">favorite</mat-icon>
        <mat-icon style="color:rgb(45, 129, 255);margin:2px;">person_add</mat-icon>
        <mat-icon style="color:rgb(9, 235, 9);margin:2px;">poll</mat-icon>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
 </div>
